@model IEnumerable<CratiaApp.Web.Models.BoxerViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>        
        <th>
            Rank
        </th>
        <th>
            Battles
        </th>        
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>    
    <td>        
        @(item.Wins - item.Loses)
    </td>
    <td>
        @(item.Wins + item.Loses)
    </td>    
</tr>
}

</table>
